@import url("https://fonts.googleapis.com/css?family=Italiana");

.App {
  text-align: center;
}

#rectangular {
  width: 100%;
  height: auto;
  position: relative;
}

#hero-title {
  position: absolute;
  top: 50px;
  left: 56px;
  font-size: 28px;
  color: #4242aa;
  text-align: left;
  font-family: Italiana, serif;
}

#debit-card {
  -webkit-transform: rotate(4deg);
  width: 50%;
  height: auto;
  margin-left: -20px;
}

@media screen and (max-width: 1000px) {
  #rectangular {
    margin-top: -20px;
  }

  #hero-title {
    top: 50px;
    left: 56px;
    font-size: 22px;
  }

  #debit-card {
    width: 40%;
  }
}

@media screen and (max-width: 800px) {
  #rectangular {
    margin-top: 0px;
  }

  #hero-title {
    top: 10px;
    left: 36px;
    font-size: 8px;
  }

  #debit-card {
    width: 40%;
  }
}
