@import url("https://fonts.googleapis.com/css?family=Italiana");

.App {
  text-align: center;
}

#rectangular {
  margin-top: -150px;
  width: 100%;
  height: auto;
  position: relative;
}

@media only screen and (max-width: 800px) {
  #rectangular {
    margin-top: -50px;
  }

  #hero-title {
    top: 20px;
    left: 36px;
    font-size: 10px;
  }
}

#hero-title {
  position: absolute;
  top: 150px;
  left: 66px;
  font-size: auto;
  color: #4242aa;
  text-align: left;
  font-family: Italiana, serif;
  font-size: 25px;
}

#debit-card {
  -webkit-transform: rotate(4deg);
  width: 50%;
  height: auto;
  margin-left: -20px;
}

@media only screen and (max-width: 500px) {
  #rectangular {
    margin-top: 0px;
  }

  #hero-title {
    top: 10px;
    left: 36px;
    font-size: 8px;
  }

  #debit-card {
    width: 40%;
  }
}
