@import url("https://fonts.googleapis.com/css?family=Italiana");

.App {
  text-align: center;
}

#rectangular {
  width: 100%;
  height: auto;
  position: relative;
}

#hero-title {
  position: absolute;
  top: 50px;
  left: 56px;
  font-size: 34px;
  color: #4242aa;
  text-align: left;
  font-family: Italiana, serif;
}

#debit-card {
  -webkit-transform: rotate(4deg);
  width: 50%;
  height: auto;
  margin-left: -20px;
}

#strip {
  width: 100%;
  height: 10px;
  background-image: linear-gradient(
    to right,
    rgb(238, 121, 12),
    rgb(255, 196, 0)
  );
}

#text-container {
  color: #4242aa;
  font-size: 14px;
  font-family: Italiana, serif;
  margin: auto;
  width: 67%;
  height: auto;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

p {
  color: black;
}

h1 {
  color: #4242aa;
}

#services-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  margin: auto;
  width: 90%;
  height: 300px;
}

#service {
  align-items: center;
  justify-content: center;
  width: 33%;
  font-size: 14px;
  font-family: Italiana, serif;
}

#service-image {
  width: 50%;
  height: 50%;
}

@media screen and (max-width: 1300px) {
  #hero-title {
    top: 50px;
    left: 56px;
    font-size: 22px;
  }

  #debit-card {
    width: 40%;
  }
}

@media screen and (max-width: 800px) {
  #rectangular {
    margin-top: 0px;
  }

  #hero-title {
    top: 10px;
    left: 36px;
    font-size: 8px;
  }

  #debit-card {
    width: 40%;
  }

  #strip {
    height: 6px;
  }

  #text-container {
    font-size: 12px;
  }

  #services-container {
    flex-direction: column;
    height: 900px;
  }

  #service-image {
    width: 120%;
    height: 40%;
  }

  #service {
    font-size: 14px;
  }
}
